.DS_Store
.idea
.gitignore
__pycache__/
*.py[cod]
*$py.class
*.so
*.log

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.env
*.session
*.json
test.py
media/*
avatars/*
participants_avatars/*